.main-calculator {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.main-calculator .title {
  font-size: 40px;
}

.calculator {
  width: 400px;
}

.calculator-screen {
  background-color: #858693;
  color: #fff;
  width: 100%;
  text-align: right;
}

.calculator-screen .text {
  padding: 0 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-buttons-bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.action {
  background-color: #e0e0e0;
}

.effect {
  background-color: #e5934f;
}

.calculator-screen,
.action,
.effect {
  border: 1px solid #d1d1d1;
  padding: 20px 0;
}

.action,
.effect {
  cursor: pointer;
}

.action:hover {
  background-color: #ccc;
}

.effect:hover {
  background-color: #d39460;
}
