html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  display: table-cell;
  vertical-align: middle;
  background-color: blueviolet;
}

.main {
  display: flex;
  gap: 20px;
}

.quote {
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.quote p {
  font-weight: bold;
}

.quote,
.calculator {
  width: 400px;
}

.calculator-screen {
  background-color: #858693;
  color: #fff;
  width: 100%;
  text-align: right;
}

.calculator-screen .text {
  padding: 0 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calculator-buttons-bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.action {
  background-color: #e0e0e0;
}

.effect {
  background-color: #e5934f;
}

.calculator-screen,
.action,
.effect {
  border: 1px solid #d1d1d1;
  padding: 20px 0;
}

.action,
.effect {
  cursor: pointer;
}

.action:hover {
  background-color: #ccc;
}

.effect:hover {
  background-color: #d39460;
}
